.receita__botao{
	background:#8D0606;
	border:none;
	border-radius:5px;
	color:#E5E5E5;
	padding:10px;
	transition: all 1s ease-in-out;

}
.receita__botao:hover{
	background:#cd5066;
	cursor:pointer;
}